<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
body {
  margin: 0;
  font-family: 'Questrial', sans-serif;
  background-color: #EDF2FA;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
